In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

# Series
일련의 객체를 담을 수 있는 1차원 배열 같은 자료구조다.  
색인이라고 하는 배열의 데이터와 연관된 이름을 갖는다.

In [29]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
obj.array

<NumpyExtensionArray>
[4, 7, -5, 3]
Length: 4, dtype: int64

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=["d", "b", "a", "c"])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [7]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [8]:
obj2["a"]

-5

In [9]:
obj2["d"] = 6
obj2[["c", "a", "d"]]

c    3
a   -5
d    6
dtype: int64

In [12]:
obj2[obj2>0]
print(obj2)

print(obj2 * 2)
np.exp(obj2)

d    6
b    7
a   -5
c    3
dtype: int64
d    12
b    14
a   -10
c     6
dtype: int64

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [13]:
print("b" in obj2)
print("e" in obj2)

True
False

In [15]:
sdata = {"Ohio" : 35000, "Texas" : 71000, "Oregon" : 16000, "Utah" : 5000}
obj3 = pd.Series(sdata)
print(sdata)
print(obj3)

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [30]:
sdata2 = obj3.to_dict()
print(sdata2)

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}